@media only screen and (min-width: 1000px) {

    .boton {
        background-color: #6278f7;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        padding: 24px 32px;
        border: none;
        color: #ffffff;
        margin: 32px 0;
        cursor: pointer;
        
    
    }
    
    .boton:hover {
        color: #95FFD4;
    }

}
@media only screen and (min-width: 441px) and ( max-width: 999px)  {

    .boton {
        background-color: #6278f7;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        padding: 24px 203px;
        border: none;
        color: #ffffff;
        margin: 30px 70px;
        cursor: pointer;
        }
    
        .boton:hover {
            color: #95FFD4;
        }

}


@media only screen and (max-width: 440px) {

    .boton {
    background-color: #6278f7;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 24px 65px;
    border: none;
    color: #ffffff;
    margin: 35px 62px;
    cursor: pointer;
    }

    .boton:hover {
        color: #95FFD4;
    }
    
    
}


